*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}


body{
    display:flex;
    height:100vh;
    justify-content: center;
    align-items: center;
    color: rgb(142, 192, 236);
    background-color: rgb(142, 192, 236);
}

.house{
    background-color: rgb(13, 12, 12);
    width:33rem;
    height: 27rem;
    border-top-left-radius: 11%;
    border-bottom-right-radius: 11%;    ;
    box-shadow: 3px 4px 6px 2px  rgb(89, 127, 158);
   ;
    
}

h1{
    font-size: 2rem;
    text-align: center;
    margin-top: 1rem;

}

h5{
    font-size: 1.4rem;
    text-align: center;
    margin-top: 2rem;


}
.hint{
    padding:1rem 3rem;
    font-size: 1.2rem;
    color:white;
}

.text-center {
    font-size: 1.5rem;
    color:white;
    letter-spacing: 1rem;
    font-weight: 700;
}



.timeleft{
    color:red
}
.text-center{
    margin-top: 3rem;
    text-align: center;
}

.btn{
    gap: 3rem;
}

input{
    text-align: center;
    justify-content: center;
    align-items: center;
    margin:0 auto;
    display: flex;
    border-radius: 7px;
   background-color: white;
    /* bbox-shadow: 2px 4px 4px 1px rgb(132, 129, 129); */
}

input::text{
    color:white;
    font-size: 2rem;
    font-weight:900;
}