*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}


body{
    display:flex;
    height:100vh;
    justify-content: center;
    align-items: center;
    color: rgb(142, 192, 236);
    background-color: rgb(142, 192, 236);
}

.house{
    background-color: rgb(13, 12, 12);
    width:33rem;
    height: 27rem;
    border-top-left-radius: 11%;
    border-bottom-right-radius: 11%;    ;
    box-shadow: 3px 4px 6px 2px  rgb(89, 127, 158);
   ;
    
}

h1{
    font-size: 2rem;
    text-align: center;
    margin-top: 1rem;

}

h5{
    font-size: 1.4rem;
    text-align: center;
    margin-top: 2rem;


}
.hint{
    padding:1rem 3rem;
    font-size: 1.2rem;
    color:white;
    text-align: center;
}
.timeleft{
    text-align: left;
    color: rgb(142, 192, 236);
}

.text-center {
    font-size: 1.76rem;
    color:white;
    letter-spacing: 1rem;
    font-weight: 700;
}





.timeleft span{
   color: red
}
.text-center{
    margin-top: 3rem;
    text-align: center;
}



input{
    text-align: center;
    justify-content: center;
    align-items: center;
    margin:0 auto;
    display: flex;
    border-radius: 7px;
   background-color: white;
    /* bbox-shadow: 2px 4px 4px 1px rgb(132, 129, 129); */
}

input[type=text]
{
    color:rgb(101, 200, 213);
    font-size: 1rem;
    font-weight:900;
}

.input::placeholder{
    color:rgb(101, 200, 213);
    
}
.pb-5{
    margin-top: 1rem;
}

.btn{
    cursor: pointer;
    background:linear-gradient(rgb(0, 0, 0),rgb(212, 209, 209),white,rgb(218, 218, 215),rgb(112, 170, 215));
    width:9rem;
    font-size:15px;
    font-weight: 550;
    height: 2.2rem;
    color:rgb(25, 25, 25);
    border-bottom-left-radius: 25%;
    box-shadow: 2px 2px 2px 0 rgb(236, 233, 233);

}